@model List<Category>
@if (TempData["success"] != null)
{
	<h2>@TempData["success"]</h2>
}
<div class="row">
	<div class="col-6"> 
		<h2>Category List</h2>
	</div>
	<div class="col-6">
		<a asp-controller ="Category" asp-action="Create" class="btn btn-primary">
			<i class="bi bi-plus-circle"></i>Create Category
		</a>
	</div>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Category Name</th>
			<th>Display Order</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var category in Model.OrderBy(p => p.DisplayOrder))
		{
			<tr>
				<td>@category.Name</td>
				<td>@category.DisplayOrder</td>
				<td><div class="group">
					<a asp-controller="Category" asp-action="Edit" asp-route-Id="@category.Id" class="btn btn-outline-primary">
							<i class="bi bi-pencil-square"></i>
							Edit
					</a>
						<a asp-controller="Category" asp-action="Delete" asp-route-Id="@category.Id" class="btn btn-outline-danger">
							<i class="bi bi-trash"></i>
							Delete
						</a>
				</div></td>
			</tr>
		}
	</tbody>
</table>

@section Scripts
{
	@{
		<partial name="_ValidationScriptsPartial"></partial>
	}
}